<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="product.css">
</head>

<body>
    <nav>
        <div class="nav-logo">
            <h2>ANOJ_</h2>
        </div>
        <div class="nav-content">
            <h3><a href="/">HOME</a></h3>
            <h3><a href="/products">products</a></h3>
            <h3><a href="/about">about</a></h3>
        </div>

    </nav>
    <main>
        <div class="main1">
            <div class="con">
                <h1>Our Products</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, et vitae? At ex culpa cupiditate
                    minus, harum tempora explicabo aliquid magni quidem maiores itaque fugiat quam tempore laboriosam
                    eum nobis!</p>
                <button>Shop now</button>
            </div>

        </div>
    </main>
</body>

</html>