<body>

    <main>
        <div class="main1">
            <div class="con">
                <h1>Our Products</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, et vitae? At ex culpa cupiditate
                    minus, harum tempora explicabo aliquid magni quidem maiores itaque fugiat quam tempore laboriosam
                    eum nobis!</p>
                <button>Shop now</button>
            </div>


        </div>
    </main>
</body>