main{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 180px;
    width: 50%;
    margin-left: 30%;
}
h1{
    font-size: 100px;
    color: red;

}
p{
    font-size: 30px;
}
body{
    overflow: hidden;
}